body{
      background-color: rgb(48, 210, 153);
}

.timer-container{
      display: flex;
      align-items: center;
     flex-direction: column;
     justify-content: center;
    font-size: 30px;
     gap: 20px;
     height: 80vh;
     
}

button{
      background-color: rgb(150, 150, 238);
      width: 100px;
      padding: 8px;
      border-radius: 8px;
      margin: 0 10px;
      cursor: pointer;
}

.display{
      font-size: 30px;
}

.input-container{
      display: flex;
      align-items: center;
      gap: 20px;
}
#time-input {
      width: 200px;
      height: 36px;
      border-radius: 8px;
}

@media screen and (min-device-width: 325px) and (max-device-width: 465px) { 
      #time-input {
            width: 120px;
            height: 36px;
            border-radius: 8px;
      }
      .timer-container{
            display: flex;
            align-items: center;
           flex-direction: column;
           justify-content: center;
          font-size: 18px;
           gap: 20px;
           height: 80vh;
           max-width: 435px;
           
      }
      button{
            background-color: rgb(150, 150, 238);
            width: 80px;
            padding: 8px;
            border-radius: 8px;
            margin: 0 10px;
            cursor: pointer;
      }
      .input-container{
            display: flex;
            align-items: center;
            gap: 15px;
      }
  }
  